/obj
/.vs/CS2Cheat/FileContentIndex
/.vs/CS2Cheat/v17
/bin/*
/.vs/CS2Cheat/DesignTimeBuild

# Ignore everything inside /output
output/*

# But keep these two files
!output/client_dll.json
!output/offsets.json